<p>
  <b>File Name:</b>
  <%= @self_homework_answer_file.file_file_name %>
  <%= link_to "Download", @self_homework_answer_file.file.url %>
</p>

<p>
  <b>File Updated:</b>
  <%= @self_homework_answer_file.file_updated_at %>
</p>

<p>
  <b>Description:</b>
  <%= @self_homework_answer_file.description %>
</p>

<p>
  <b>Score:</b>
  <%= @self_homework_answer_file.score %>
</p>

<p>
  <b>Reason:</b>
  <%= @self_homework_answer_file.reason %>
</p>

<%= link_to 'Edit', edit_self_homework_answer_file_path(@self_homework_answer_file) %> |
<%= link_to 'Back', self_homework_answer_files_path %>
