<%= form_for(@user) do |f| %>
  <%= render :partial => "shared/user_error", :locals => { :model_object => @user } %>

  <div id="field">
    <%= f.label :username %>
    <%= f.text_field :username, :required => "required" %>

    <%= f.label :password %>
    <%= f.password_field :password, :required => "required" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => "required" %>

    <%= f.label :name %>
    <%= f.text_field :name, :required => "required" %>

    <%= f.label :lastname %>
    <%= f.text_field :lastname, :required => "required" %>

    <%= f.label :email %>
    <%= f.text_field :email, :required => "required" %>

    <%= f.label :alt_email %>
    <%= f.text_field :alt_email, :required => "required" %>

    <%= f.submit "Submit", :disable_with => "Submitting...", :class => "action-btn green" %>
  </div>
<% end %>
