<section id="profile">
  <h2><%= "#{@user.name} #{@user.lastname} (#{@user.username})" %></h2>
  <%= image_tag "#{gravatar_for(@user)}?s=150&r=r", :alt => "#{@user.name} #{@user.lastname}'s photo", :title => "#{@user.name} #{@user.lastname}'s photo", :width => 150, :height => 150 %>
  <ul>
    <li>Username: <%= @user.username %></li>
    <li>Name: <%= @user.name %></li>
    <li>Lastname: <%= @user.lastname %></li>
    <li>Position: <%= @user.position == 't' ? t('teacher') : t('student') %></li>
    <li>Email: <%= @user.email %></li>
    <li>Alternate Email : <%= @user.alt_email %></li>
  </ul>
</section>

<%= link_to 'Edit', edit_user_path(@user), :class => "action-btn yellow" %>
