<div style="background-image: url(/images/nu_nen.png); float: right;
        width:206px; height:369px; background-repeat: no-repeat; margin-right: 100px;"></div> </br></br>
<div style="font: 20px bold; font-family: roboto; color: #666666; margin-left: 100px; margin-right: 100px;
        margin-top: 50;background-color: #f0f8ff;">
<p>
  <b>Login:</b>
  <%= @user.username %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Alt email:</b>
  <%= @user.alt_email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
