<p id="notice"><%= notice %></p>

<p>
  <b>Sent time:</b>
  <%= @homework_answer_file.sent_time %>
</p>

<p>
  <b>Ip:</b>
  <%= @homework_answer_file.ip %>
</p>

<p>
  <b>Score:</b>
  <%= @homework_answer_file.score %>
</p>

<p>
  <b>Reason:</b>
  <%= @homework_answer_file.reason %>
</p>

<p>
  <b>Revision:</b>
  <%= @homework_answer_file.revision %>
</p>

<p>
  <b>File path:</b>
  <%= @homework_answer_file.file_path %>
</p>

<p>
  <b>Desciption:</b>
  <%= @homework_answer_file.desciption %>
</p>


<%= link_to 'Edit', edit_homework_answer_file_path(@homework_answer_file) %> |
<%= link_to 'Back', homework_answer_files_path %>
