<h1>Opening Course's List</h1>

<table id="table">
  <tr>
    <th>Year</th>
    <th>Semester</th>
    <th>Section</th>
    <th>Is suspend</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%= section.year %></td>
    <td><%= section.semester %></td>
    <td><%= section.section %></td>
    <td><%= section.is_suspend %></td>
    <td><%= link_to 'Show', section %></td>
    <td><%= link_to 'Edit', edit_section_path(section) %></td>
    <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_section_path %>
