<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @section.year %>
</p>

<p>
  <b>Semester:</b>
  <%= @section.semester %>
</p>

<p>
  <b>Section:</b>
  <%= @section.section %>
</p>

<p>
  <b>Is suspend:</b>
  <%= @section.is_suspend %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
