<%= form_for(@homework) do |f| %>
  <%= render :partial => "shared/user_error", :locals => { :model_object => @homework } %>

  <div id="field">
    <%= f.label :section_id %>
    <%= f.select :section_id, options_for_select(@options, @homework.section_id) %>

    <%= f.label :title %>
    <%= f.text_field :title, :required => "required" %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :start_time %>
    <%= f.text_field :start_time, :required => "required" %>

    <script type="text/javascript">
      $('#homework_start_time').click(
          function (e) {
            $('#homework_start_time').AnyTime_noPicker().AnyTime_picker().focus();
            e.preventDefault();
          });
    </script>

    <%= f.label :due_time %>
    <%= f.text_field :due_time, :required => "required" %>

    <script type="text/javascript">
      $('#homework_due_time').click(
          function (e) {
            $('#homework_due_time').AnyTime_noPicker().AnyTime_picker().focus();
            e.preventDefault();
          });
    </script>

    <%= f.submit "Submit", :disable_with => "Submitting...", :class => 'action-btn green' %>
  </div>

<% end %>