<div class="overflow-hidden">

  <div id="section-list">
    <h2><%= "#{teacher? ? "Teach" : "Tak"}" %>ing Course List</h2>
    <ul>
      <% @sections.each do |section| %>
        <% course = section.course %>
        <li>
          <a href="<%= "/homework/section/#{section.id}" %>">
            <span class="course-code"><%= course.course_code %></span>
            <span class="english-course-name"><%= course.english_course_name %></span><br />
            <span class="section"><%= "sec #{section.section}" %></span>
            <span class="semester"><%= "semester #{get_abbr_semester_text section.semester}, year #{section.year}" %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <section id="homework-list">
    <h2>Homework List</h2>

    <% if teacher? %>
      <div class="config">
        <%= link_to "Create a Homework", new_homework_path %>
      </div>
    <% end %>

    <ul>
      <% @homeworks.each do |h| %>
        <li>
          <% if teacher? %>
            <a href="<%= "/homeworks/#{h.id}" %>">
              <span class="section"><%= "#{h.section.course.course_code} sec #{h.section.section}" %></span>
              <span class="homework-title"><%= "#{h.title}" %></span>
            </a>
            <span>
              <%= link_to "Edit", "/homeworks/#{h.id}/edit", :class => "btn yellow" %>
            </span>
          <% else %>
            <a href="<%= "/answers/new/#{h.id}" %>">
              <span class="section"><%= "#{h.section.course.course_code} sec #{h.section.section}" %></span>
              <span class="homework-title"><%= "#{h.title}" %></span>
            </a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</div>