<%= form_for(@course) do |f| %>
  <%= render :partial => "shared/user_error", :locals => { :model_object => @course } %>

  <div id="field">
    <%= f.label :course_code %>
    <%= f.text_field :course_code, :required => "required" %>

    <%= f.label :thai_course_name %>
    <%= f.text_field :thai_course_name %>

    <%= f.label :english_course_name %>
    <%= f.text_field :english_course_name %>

    <%= f.submit "Submit", :disable_with => "Submitting...", :class => "action-btn green" %>
  </div>

<% end %>
