<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  	<%= f.label :course_code %><br />
  	<%= f.text_field :course_code %><br />
  	
  	<%= f.label :thai_course_name %><br />
  	<%= f.text_field :thai_course_name %><br />
  	
  	<%= f.label :eng_course_name %><br />
  	<%= f.text_field :eng_course_name %><br />
  	
    <%= f.submit %>
  </div>
<% end %>
