<h1>Course's List</h1>

<div class="config">
  <%= link_to 'New Course', new_course_path %>
</div>

<% if @courses.empty? %>
  <div id="notice" class="text-center">Not found any course in the list</div>
<% else %>
  <table id="table">
    <tr>
      <th>Course Code</th>
      <th>Course Name</th>
      <th></th>
      <th></th>
    </tr>

    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_code %></td>
        <td><%= "#{course.thai_course_name} (#{course.english_course_name})" %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td>
          <% if admin? %>
            <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
<% end %>
</table>