<p>
  <b>Course code:</b>
  <%= @course.course_code %>
</p>

<p>
  <b>Thai course name:</b>
  <%= @course.thai_course_name %>
</p>

<p>
  <b>English course name:</b>
  <%= @course.english_course_name %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
