<!DOCTYPE html>
<html>
<head>
  <title><%= title(@title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header">
  <a href="/" id="logo">OHIHA | Online Handing in Homework Assistant</a>

  <div id="account_panel">
    <% if current_user %>
      <!-- Gravatar Image -->
      <%= "#{current_user.name} #{current_user.lastname}" %>
      <%= link_to t('logout'), "/logout" %>
    <% else %>
      <%= link_to t('login'), "/login" %>
      <%= link_to t('signup'), new_user_path %>
    <% end %>
  </div>
</header>

<div id="wrapper">
  <%= yield %>
</div>

<footer id="footer">

</footer>

</body>
</html>
