<!DOCTYPE html>
<html>
<head>
  <title><%= title(@title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<header id="header">
  <div class="container">
    <%= link_to "OHIHA | Online Handing in Homework Assistant", root_path, :title => "OHIHA | Online Handing in Homework Assistant", :id => "logo" %>

    <div id="account_panel">
      <% if current_user %>
        <%= image_tag gravatar_for(current_user), :alt => "#{current_user.name} #{current_user.lastname}'s photo", :title => "#{current_user.name} #{current_user.lastname}'s photo", :id => "gravatar" %>
        <%= link_to header_name, "/user/#{current_user.username}", :class => "username" %>
        <nav>
          <ul>
            <li><%= link_to t('settings'), "/settings" %></li>
            <li><%= link_to t('logout'), "/logout" %></li>
          </ul>
        </nav>
      <% else %>
        <nav>
          <ul>
            <li><%= link_to t('login'), "/login" %></li>
            <li><%= link_to t('signup'), "/user/new" %></li>
          </ul>
        </nav>
      <% end %>
    </div>
  </div>
</header>

<div id="wrapper" class="container">
  <% if flash.any? %>
    <ul id="notice">
      <% flash.each do |key, value| %>
        <li class="<%= key %>"><%= value %></li>
      <% end %>
    </ul>
  <% end %>
  <% if current_user %>
    <nav id="main-menu">
      <ul>
        <li><%= link_to "Dashboard", users_path, :class => "left-corner" %></li>
        <li><%= link_to "Homework", '/homeworks' %></li>
        <li><%= link_to "Section", '/sections' %></li>
        <li><%= link_to "Course", '/courses' %></li>
        <li><%= link_to "Help", '/help', :notice => "Coming Soon!", :class => "right-corner" %></li>
      </ul>
    </nav>
  <% end %>

  <%= yield %>
</div>

<footer id="footer">
  <div class="container">
    2012 OHIHA Project. Some rights reseved.<br/>
    The OHIHA Project is a part of Software Design Development &amp; System Analysis and Design.
  </div>
</footer>

</body>
</html>